{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search | title }}</h2>
    <div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074__340.jpg" alt=""></a>
            </div>
            <div class="card-content">
                <p>Test</p>
            </div>
            <div class="card-action">
                <a href="/">View Listing: Price Test price</a>
            </div>
        </div>
    </div>
        <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://cdn.mos.cms.futurecdn.net/QjuZKXnkLQgsYsL98uhL9X.jpg" alt=""></a>
            </div>
            <div class="card-content">
                <p>Test</p>
            </div>
            <div class="card-action">
                <a href="/">View Listing: Price Test price</a>
            </div>
        </div>
    </div>
        <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://i.guim.co.uk/img/media/20098ae982d6b3ba4d70ede3ef9b8f79ab1205ce/0_0_969_1005/master/969.jpg?width=700&quality=85&auto=format&fit=max&s=470657ebd2a0e704df88997d393aea15" alt=""></a>
            </div>
            <div class="card-content">
                <p>Test</p>
            </div>
            <div class="card-action">
                <a href="/">View Listing: Price Test price</a>
            </div>
        </div>
    </div>
        </div>
{% endblock %}